@charset "utf-8";
/* CSS Document */
.secondNav{
	width:200px;
	height:400px;
	background-color:#900;
	opacity:0.7;
	float:left;}
.secondNav ul{
	list-style:none;}
.secondNav ul li{
	height:60px;
	line-height:60px;}
.secondNav ul li a{
    display:block;
	width:200px;
	line-height:40px;
	height:40px;
	text-align:center;
	font:18px "微软雅黑", "隶书";
	color:#FFC;
	padding-top:20px;
	}
.secondNav a:hover{
	background-color:#FFC;
	color:#900;}
.main{
	background:url(../images/55.jpg);}
.fileTab{
	border:none;
	width:500px;
	margin:0px auto;
	padding:20px 0px;}
.fileTab td{
	height:30px;
	padding-top:20px;
	font:16px "微软雅黑", "隶书";
	color:#030;}
.input{
	width:180px;
	height:28px;
	display:inline-block;
	border-radius:10px;
	padding-left:16px;
	margin-left:16px;}
.subBtn{
	width:200px;
	height:40px;
	background-color:#FF6;
	border-radius:5px;
	text-align:center;
	font:18px "微软雅黑", "隶书";
	margin-left:200px;}
.listAll{
	width:700px;
	height:400px;
	float:left;
	margin:30px;}
.listAll a:hover{
	background-color:#030;
	opacity:0.2;
	color:#FFF;
	}
/*#CBDA9F*/
.list{
	display:block;
	width:300px;
	height:120px;
	float:left;
	margin:20px;
	position:relative;
	background-color:rgba(153,153,153,0.3);
	border-radius:10px;}
.list img{
	width:80px;
	height:80px;
	margin:20px;
	border-radius:5px;}
.list h4{
	display:inline-block;
	position:absolute;
	left:50%;
	top:25%;}
.list span{
	position:absolute;
	left:50%;
	bottom:25%;}
.detail{
	width:600px;
	height:260px;
	background-color:#FFF;
	border:#060 4px solid;
	border-radius:10px;
	margin:0px auto;
	padding-top:40px;}
.detail_left{
	width:30%;
	float:left;}
.img_boder{
	width:136px;
	height:136px;
	border:#CCC 2px dashed;
	margin-left:30px;
	margin-top:10px;
	}
.detail_left img{
	border-radius:10%;
	margin-top:4px;
	margin-left:4px;}
.detail_right{
	width:60%;
	float:left;
	margin-left:20px;}
.de_title img{
	width:40px;
	height:40px;
	float:left;
	}
.de_title span{
	font-size:18px;
	font-weight:bold;
	color:#060;
	margin-left:20px;}
.de_secTitle{
	font-size:14px;
	color:#999;
	margin-top:5px;
	padding-left:40px;
	margin-left:20px;}
.de_func{
	margin-top:10px;}
.de_func a{
	display:block;
	width:80px;
	height:30px;
	line-height:30px;
	background-color:#CBDAAF;
	float:left;
	margin:5px;
	border-radius:5px;
	text-align:center;}
.de_func a:hover{
	background-color:#060;
	color:#FFF;}
.de_content{
	width:300px;
	margin-top:10px}
.type{
	margin-top:10px;}
.msgAll{
	width:700px;
	height:400px;
	background-color:#FFF;
	border-radius:20px;
	margin-left:250px;}
.msgParent{
	width:600px;
	height:80px;
	padding:20px 60px;
	position:relative;}
.msg img{
	width:150px;
	height:90px;
	float:left;}
.msg_content{
	display:inline;
	float:left;
	width:400px;
	margin-left:10px;}
.msg_content h2{
	font:18px "微软雅黑", "隶书";
	font-weight:bold;
	margin-top:12px;}
.msg_content span{
	color:#666;}
.msgFunc{
	position:absolute;
	bottom:10px;
	right:70px;}
.msgFunc a:hover{
	color:#090;
	text-decoration:underline;}
.hr{
	width:640px;
	height:2px;
	background-color:#030;
	margin-left:40px;}
.postContent{
	width:700px;
	height:300px;
	background-color:#FFF;
	border-radius:5%;
	margin-left:250px;
	padding-top:30px;}
.send{
	width:70px;
	height:34px;
	background-color:#CBDAAF;
	border-radius:8px;}
.elseBtn{
	width:70px;
	height:34px;
	background-color:#CACACA;
	border-radius:8px;}
.postFunc{
	margin-left:40px;}
.postDetail{
	font:24px "微软雅黑", "隶书";
	margin-left:60px;
	margin-top:10px;}
.postInput{
	width:300px;
	height:22px;
    border: none 0;
	border-bottom:#CACACA 2px solid;}
.postArea{
	width:400px;
	height:100px;
	background-color:#FCFCFC;
	}
.oddrowcolor{
	background-color:#FCFCFC;
}
.evenrowcolor{
	background-color:#CFC;
}
.info{
	width:600px;
}
.pswdTab{
	margin-left:220px;
	border-radius:10px;
	width:400px;
	height:auto;
	background-color:#FCFCFC;
	font:18px "微软雅黑", "隶书";
	margin-left:240px;}
.pswdTab th{
	height:36px;
	text-align:center;
	font:18px "微软雅黑", "隶书";
	font-weight:bold;}
.pswdTab td{
	height:30px;
	text-align:center;
	font:16px "微软雅黑", "隶书";}